<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main class="soma">
        <div id="app">
            <input type="number" v-model="primeiro" placeholder="Primeiro numero">
            <input type="number" v-model="segundo" placeholder="Segundo numero">
            <button id="soma" v-on:click="somar()">Somar</button>
            <span v-if="resultado != 0">O resultado é : {{ resultado }}</span>
        </div>
    </main>

    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>